html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

.auth-container {
  background: url("../assets/leaves-bg1.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px 50px;
  width: 350px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

/* Headings */
.auth-box h2 {
  font-size: 28px;
  margin-bottom: 5px;
  color: #00ff66;
}

.auth-box p {
  font-size: 14px;
  margin-bottom: 25px;
  color: #b3b3b3;
}

/* Inputs */
.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #00ff66;
  color: white;
  font-size: 15px;
  outline: none;
}

/* Buttons */
.auth-box button {
  width: 100%;
  padding: 10px;
  background-color: #00ff66;
  border: none;
  border-radius: 25px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.auth-box button:hover {
  background-color: #00cc55;
}

/* Link text (optional) */
.auth-box a {
  color: #00ff66;
  text-decoration: none;
  font-size: 14px;
}
.auth-box a:hover {
  text-decoration: underline;
}