.navbar {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;

  background-image: url("/src/assets/navbar-bg.jpg"); /* your uploaded waves bg */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.navbar-logo {
  height: 48px;
}

.navbar-title {
  font-size: 24px;
  color: #14532d;
  font-weight: 600;
}


